.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.header {
    padding: 2rem;
    grid-column: 1 / 4;
}

.left-side {
    grid-column: 1 / 2;
}

main {
    grid-column: 2 / 3;
    background: rgba(255, 255, 255, 0.877);
}

.right-side {
    grid-column: 3 / 4;
}

footer {
    grid-column: 1 / 4;
}


html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: system-ui, serif;
    display: grid;
    align-items: center;
}

.coral {
    background-color: var(--coral);
    border: 1px solid var(--coral--b);
    
}

.yellow {
    background: rgba(255, 255, 255, 0.3);
}

.blue {
    background: rgba(255, 255, 255, 0.3);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.section {
    padding: 7rem;
}

.parent {
    height: 100%;
}

.background
{
    background-image: url(Rectangle11\(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}

